@model IEnumerable<Центр_зайнятості.Models.Підприємство>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Назва)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.РозташуванняОфісу)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ПредставникПіб)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Назва)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.РозташуванняОфісу)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ПредставникПіб)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.КодПідприємства">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.КодПідприємства">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.КодПідприємства">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
