@model Центр_зайнятості.Models.Клієнт

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Клієнт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Імя)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Імя)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ФормаВласності)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ФормаВласності)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НомерТелефону)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НомерТелефону)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Адреса)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Адреса)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ДатаЗнайденоїРоботи)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ДатаЗнайденоїРоботи)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.КодПідприємстваNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.КодПідприємстваNavigation.КодПідприємства)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.КодКлієнта">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
