@model IEnumerable<Центр_зайнятості.Models.Клієнт>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Імя)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ФормаВласності)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.НомерТелефону)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Адреса)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ДатаЗнайденоїРоботи)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.КодПідприємстваNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Імя)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ФормаВласності)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.НомерТелефону)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Адреса)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаЗнайденоїРоботи)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.КодПідприємстваNavigation.КодПідприємства)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.КодКлієнта">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.КодКлієнта">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.КодКлієнта">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
