@model Центр_зайнятості.Models.ЗакритаВакансія

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ЗакритаВакансія</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НазваВакансії)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НазваВакансії)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ДатаЗакриття)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ДатаЗакриття)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ВлаштованийNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ВлаштованийNavigation.КодПрацівника)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.КодВакансіїNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.КодВакансіїNavigation.КодВакансії)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.НомерЗапису">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
